// Fix top margin issue 

.timeline {

  margin-top: -.9%;

}



* {
    margin: 0;
    padding: 0;
    min-height: 0;
}



/* ===========================================                  =================================================== */
/* ===========================================    Navbar        =================================================== */
/* ===========================================                  =================================================== */


.m-logo img {

  height: 30px;
  width: 30px;

}

// override logo to have no nav 
.m-logo a:before, .m-logo a:after {

  transition: none;
  content: none;

}


.floatleft {

    float:left;

}
.floatright {

    float:right;

}

nav {

  background-color: #7D718D;
  height: 6%;


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;

}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
}

nav ul {



}


.current a {

  color: #fff;

}

nav ul {


}

nav * {

  box-sizing: border-box;

}

nav li {

  margin-top: 1%;
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;

}

nav a {

  color: #ccc;
  padding: 0.5em 0;
  font-family: "proxima-nova", sans-serif; 
  font-weight: 600;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;

}

nav a:before,
nav a:after {

  position: absolute;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;

}

nav a:before {

  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #fff;

}

nav a:after {

  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;

}

nav a:hover {

  text-decoration: none;
  color: #fefefe;

}

nav a:active, a:visited{

  text-decoration: none;
  color: #fefefe;

}
nav a:hover:before,
nav .current a:before {

  opacity: 1;
  width: 100%;


}

nav a:hover:after,
nav .current a:after {

  max-width: 100%;

}

/* ===========================================                  =================================================== */
/* ===========================================    Photo Tiles   =================================================== */
/* ===========================================                  =================================================== */

ul li img {

   align-items: center;
  -webkit-align-items: center;
}





#housing-box {


}

#housing-box img {

  height: 100%;
  

}

#dot-box {

  background-color: #4E4C4C;

}




#illustration-box {

background-color: #6FD5F5;

}

#illustration-box img {

  vertical-align: bottom;
}

#grass { 

  background-color: #81C582;
  height: 30px;
  vertical-align: bottom;

}

#fidelity-box {

  background-color: #4F980C;

}

#hackumass-box {

  background-color: #1A1A1A;

}

#illustrations {

  background-color: #C1EBBE;

}

#beanpot-box {

  background-color: #82DADC;

}

#tedx-box {

  background-color: #1A1A1A;

}

#threedicc-box {

  background-color: #126A93;

}


/* ===========================================                  =================================================== */
/* ===========================================    Photo Grid    =================================================== */
/* ===========================================                  =================================================== */


.flex-tiles {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -moz-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-align-content: center;
  align-content: center;

}

.flex-item {

   
  width: 33.3%;
  height: 500px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  -webkit-align-content: center;
  align-content: center;

}
