
@import "partials/variables";
@import "partials/normalize";
@import "partials/base";
@import "partials/font";
@import "partials/mixins"; 
@import "partials/modules/footer";

.home {
    background-color: #6F588F;
    background: url("Portfolio.png") no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
}


html,body {
      margin:0;
      height:100%
    }
    

.center_text {
    
    vertical-align: middle;
 
}

.call-button {

   text-align: center;
   margin-top: 3%;

}


#marc {

    padding-bottom: 20px;
}

